# Connection parameters for local Neo4j Dev instance
GRAPHENEDB_BOLT_URL=bolt://localhost
GRAPHENEDB_BOLT_USER=neo4j
GRAPHENEDB_BOLT_PASSWORD=<YOUR_LOCAL_NEO4J_PASSWORD>

# Port for local express instance to listen on
ENV_PORT=3000

#MongoDB
MONGO_USER=<YOUR_MONGO_USER>
MONGO_PASS=<YOUR_MONGO_PASSWORD>

#Firebase
REACT_APP_API_KEY=<API_KEY>
REACT_APP_AUTH_DOMAIN=<AUTH_DOMAIN>
REACT_APP_DATABASE_URL=<DB_URL>
REACT_APP_PROJECT_ID=<PROJ_ID>
REACT_APP_STORAGE_BUCKET=<STORAGE_BUCKET>
REACT_APP_MESSAGING_SENDER_ID=<MESSAGE_SENDER_ID>