/*
.NavBar {
  text-align: center;
}

.NavBar-header {
  background-color: #AAA;
  padding: 20px;
  color: white;
}

.NavBar-nav {
  padding: 10px;
}

.NavBar-title {
  font-size: 1.5em;
}

.NavBar-intro {
  font-size: large;
}

@keyframes NavBar-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/


.Appbar {
  background-color: #3F51B5;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

header ul.mui-list--inline {
  margin-bottom: 0;
}

header a {
  color: white;
}

header table {
  width: 100%;
}