.AppBar {
  background-color: #3F51B5;
}

.Dropdown {
  background-color: #3F51B5;
}

DropdownItem {
  color: black;
  background-color: #3F51B5;
}

* {
  margin: 0;
  padding: 0;
}
 
nav {
  display: block;
  margin: 15px;
}
 
ul {
  overflow: auto;
  list-style-type: none;
}
 
li {
  height: 20px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #000;
  padding: 0 15px;
}
 
li:last-child {
  border-right: none;
}
 
li a {
  text-decoration: none;
  color: #000;
  font: 14px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;
 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
 
li a:hover {
  color: #666;
}
 
li.active a {
  font-weight: bold;
  color: #333;
}