.Account-center {
    margin: auto;
    display: block !important;
    width: 30%;
}

.iconStyles {
  font-size: inherit !important;
  line-height: inherit !important;
  vertical-align: middle !important;
  margin: 10px;
}

.firstColumn {
  width: 12px;
}

.wantColumn {
  width: 50px;
}

.tradeColumn {
  width: 50px;
}

.deleteColumn {
  width: 75px;
}
